In [2]:
%%writefile zoo.py

def hours():
    print('Open 9-5 daily')

Writing zoo.py

In [3]:
import zoo

zoo.hours()

Open 9-5 daily

In [4]:
import zoo as menagerie

In [5]:
menagerie.hours()

Open 9-5 daily

In [6]:
import sqlite3

# create a connection to the database
conn = sqlite3.connect('books.db')

# create a cursor object
c = conn.cursor()

# create the table
c.execute('''CREATE TABLE books
             (title text, author text, year integer)''')

# commit the changes
conn.commit()

# close the connection
conn.close()

In [7]:
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData

# create the engine to connect to the 'books.db' database
engine = create_engine('sqlite:///books.db', echo=True)

# create metadata object
metadata = MetaData()

# define the 'books' table with columns 'title', 'author', and 'year'
books_table = Table('books', metadata,
                    Column('title', String),
                    Column('author', String),
                    Column('year', Integer))

# create the 'books' table in the database
metadata.create_all(engine)

2023-04-16 22:04:04,157 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-04-16 22:04:04,157 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("books")
2023-04-16 22:04:04,172 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-04-16 22:04:04,172 INFO sqlalchemy.engine.Engine COMMIT